
.sign-up-container {
  text-align: center;
  margin: 50px auto;
  max-width: 300px;
  padding: 20px;
  border: 2px solid #818181;
  border-radius: 10px;
  background-color: #ecf0f1;
  

  h2 {
    color: #000000;
  }

  span {
    color: #2c3e50;
  }

  form {
    margin-top: 20px;
  }

  button {
    width: 100%;
    background-color: #8b8b8b;
    margin-top: 20px;
  }
}



