
@import '../../styles/partials/mixins';


.checkout-container {
    width: 100%;
    max-width: 400px;  
    margin: 20px auto;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    .checkout-header {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      border-bottom: 1px solid #ccc;
      font-weight: bold;
      margin-left: 5px;
  
      .header-block {
        width: 20%;
        text-align: center;
        margin-right: 25px;      }
    }
  
    .total {
      margin-top: 20px;
      text-align: right;
      font-size: 1.2em;
    }
  
    @include tablet {
      max-width: 800px;  
      .checkout-header {
        .header-block {
          width: 20%;
        }
      }
    }
  
    @include desktop {
      max-width: 1200px;  
  
      .checkout-header {
        .header-block {
          width: 20%;
        
        }
      }
    }
  }
  