
.group {
  position: relative;
  margin: 25px 0;

  input {
    // background: none;
    background-color: #ecf0f1; 
    color: #2c3e50; 
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid #8bb1ca; 
    margin: 5px 0;
    // transition: background 0.3s, border 0.3s, color 0.3s;

    &:focus {
      outline: none;
      background-color: #f0f0f0; 
      border-bottom: 2px solid #8a8a8a; 
      color: #000000; 
    }
  }

  label {
    color: #000000; 
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;

   
  }
}






