
.product-card-container {
  width: 100%;
  max-width: 400px; 
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr; 

  img {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    .name {
      font-size: 18px;
      font-weight: bold;
    }

    .price {
      font-size: 16px;
      color: black;
      font-weight: bolder;
    }
  }

 
}
