

@mixin tablet {
    @media (min-width: 768px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: 1280px) {
      @content;
    }
  }
  
  .main-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  
    // Media queries for responsiveness
    @include tablet {
      justify-content: center; // Center items on tablet
    }
  
    @include desktop {
      // Add desktop-specific styles here if needed
    }
  }
  
