
  

@use '../../styles/partials/mixins' as *;



.main-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include tablet {
    justify-content: center;
  }

  @include desktop {
   
  }
}






