

.button-container {
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #4caf50; /* Green on hover, you can change the color */
    }
  
    &.google-sign-in {
      background-color: #4285f4; /* Google Blue */
      color: white;
      &:hover {
        background-color: #357ae8; /* Google Blue on hover */
      }
    }
  
    &.inverted {
      background-color: white;
      color: black;
      border: 1px solid black;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
  