@import '../../styles/partials/mixins';


.checkout-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  
    .image-container {
      width: 20%;
      img {
        width: 100%;
        height: auto;
      }
    }
  
    .name,
    .quantity,
    .price {
      width: 20%;
      text-align: center;
    }
  
    .quantity {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .arrow {
        cursor: pointer;
        padding: 1px;
      }
  
      .value {
        margin: 0 10px;
      }
    }
  
    .remove-button {
      width: 10%;
      cursor: pointer;
    }
  
    @include tablet {
      .image-container {
        width: 15%;
      }
  
      .name,
      .quantity,
      .price {
        width: 25%;
      }
  
      .quantity {
        .arrow {
          font-size: 2px;
        }
      }
  
      .remove-button {
        width: 10%;
      }
    }
  
    @include desktop {
      .image-container {
        width: 10%;
      }
  
      .name,
      .quantity,
      .price {
        width: 20%;
      }
  
      .quantity {
        .arrow {
          font-size: 24px;
        }
      }
  
      .remove-button {
        width: 8%;
      }
    }
  }
  
